
#modal{
    border: none;
    border-radius: 15px;
    padding:34px 54px;
    background-color: rgba(255, 255, 255, 0.5);
}
#modal::backdrop{
    background-color: rgba(0,0,0,0.7);
}
button{
    border: none;
    color:white;
    background-color: #5946d4;
    width: 100px;
    height: 29px;
    padding:5px;
    margin-left: 0;
    cursor: pointer;
    border-radius: 15px;
}
input{
    height: 25px;
    outline: none;
    border: solid #5946d4 1px;
    border-radius: 15px 0 0 15px;
    border-right: none;
}
body>button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
#modal>button{
    border-radius: 0 15px 15px 0;
    margin-bottom: 10px;
}
/*remarks
 on mobile will be unattractive
 */